<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Osama Siddiqui",
  "url": "https://sudoosama.com",
  "email": "osamasiddiqui67262@gmail.com",
  "jobTitle": "Network Security Engineer",
  "worksFor": {
    "@type": "Organization",
    "name": "Digital Auxilius"
  },
  "alumniOf": [
    {
      "@type": "CollegeOrUniversity",
      "name": "NED University of Engineering & Technology"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "University of Karachi"
    }
  ],
  "sameAs": [
    "https://linkedin.com/in/osamasiddiquii",
    "https://github.com/maxdorx",
    "https://www.credly.com/users/0sama",
    "https://medium.com/@calisamaa"
  ],
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Dubai",
    "addressCountry": "United Arab Emirates"
  }
}
</script>
